<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxVQP8_qBrUClGKXl4aTy4_k0DAmMyMvc</string>
	<key>GCM_SENDER_ID</key>
	<string>660730825294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Afeka.Xylophone-2-Noam-Yosi</string>
	<key>PROJECT_ID</key>
	<string>xylophone2</string>
	<key>STORAGE_BUCKET</key>
	<string>xylophone2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660730825294:ios:67ebb7e5f137583d8c111f</string>
</dict>
</plist>